* {
    margin: 0;
    padding: 0;
}

.titulo {
    text-align: center;
    color: #2B1B17;
    background-color: #d2e1c1;
    padding: 30px ;
    font-family: 'inter', serif;
    font-size: 35px;
}
.titulosp{
    color: #3c2a21;
}

.principal {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr;
    column-gap: 20px;
    padding: 0 170px;
    background-color: #d2e1c1;
    font-family: 'inter', serif;
    font-size: 16px;
}

.principal>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.tablas {
    width: 80px;
    height: 80px;
    border: 1px solid #B58A63;
    border-radius: 50%;
}

.margen {
    border: 1px solid #B58A63;
    border-radius: 50%;
    padding: 3px;
    line-height: 0;
    margin-bottom: 5px;
}

.descripcion {
    text-align: center;
    color: #6B6A69;
    padding: 12px 0;
    line-height: 1.5;
    font-size: 10px;
    font-family: 'open sans' ;
}

.linea {
    width: 1px;
    color: #C6A664;
    margin-top: 2px;
    height: 160px;
    background-color: #B58A63;
    border: 0;
    
}
